*.iml
.gradle
/local.properties
.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/home/jose/AndroidStudioProjects/PhionaRemote/app/src/main/assets/assistant.zip
